* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.highlight {
    font-weight: bold;
    color: #191970;
    font-size: 1.06em;
}

/* Header styles */
header {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

header h1 {
    color: #cc0000;
    margin-bottom: 10px;
}

/* Navigation styles */
nav {
    background-color: #cc0000;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
	font-size: 14.5px;
}

nav a:hover {
    background-color: #af0505;
    border-radius: 3px;
}

/* Main content styles */
main {
    padding: 20px;
    background-color: white;
}

main p {
	margin-bottom: 13px;
}

main ul, ol{
	margin-left: 40px;
    padding-left: 5px;
	margin-bottom: 20px;
}

main img{
	margin-bottom: 10px;
}

main aside{
	margin-left: 30px
}